<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Peter Leonov’s Bundle</string>
	<key>uuid</key>
	<string>DA403664-A699-45DE-8811-A5728930F348</string>
</dict>
</plist>
