<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>WebDev</string>
	<key>ordering</key>
	<array>
		<string>9008F60C-06A8-41FF-AAF0-114082B8F295</string>
		<string>5B870AD8-ECDF-4321-A5AF-684CEDDECDDF</string>
	</array>
	<key>uuid</key>
	<string>AED02A91-E41C-462B-A935-7B5988A30E17</string>
</dict>
</plist>
