<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Developer</string>
	<key>ordering</key>
	<array>
		<string>4F6EB08B-A06E-4BE3-B672-DD13EB0B82F2</string>
	</array>
	<key>uuid</key>
	<string>D97A6BD2-78F1-442B-B91B-A07CED68EDD8</string>
</dict>
</plist>
